.nat-blocky img {
  max-width: 48px;
}

.data-column { width: 33%; }

.intro {
  margin: 25px auto;
  text-align: center;
}

.intro-join {
  margin-top: 15px;
}

.section-title, .tribe-intro {
  text-align: left;
}

.isNotMember {
  text-align: center;
  padding: 25px 0px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.section-title {
  margin-top: 24px;
}
