.hero .grid {
  align-items: center;
  justify-content: center;
}

.hero-tribe-card.grid-50 {
  max-width: 340px;
}

app-tribe-card .tribe-card.front {
  display: none;
}

.data-column { width: 33%; }

.intro {
  text-align: center;
}
.section-title, .tribe-intro {
  text-align: left;
}

.isNotMember {
  text-align: center;
  padding: 25px 0px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.section-title {
  margin-top: 24px;
}
