<section class="mat-typography">
  <img src="{{tribe.image}}" style="width: 100% !important;"/>
  <!-- commented out for now
  <div class="hero tribe" [ngStyle]="{'background-image': 'url(' + tribe.image + ')'}">
    <div class="grid">
      <div class="column" ngClass.gt-sm="grid-50" ngClass.sm="grid-50" ngClass.lt-sm="grid-100">
        <button mat-raised-button color="primary" (click)="goBack()"><mat-icon>arrow_back</mat-icon> GO BACK</button>
      </div>
      <div class="column" ngClass.gt-sm="grid-50" ngClass.sm="grid-50" ngClass.lt-sm="grid-100">
      </div>
    </div>
  </div>
  -->

  <div class="view">
    <div class="contents">
      <div class="intro">
        <div class="nat-blocky">
          <img src="{{tribe.icon}}" *ngIf="tribe.icon">
          <angular-blockies *ngIf="!tribe.icon" [options]="getBlocky(tribe.address)"></angular-blockies>
        </div>
        <h1>{{tribe.name}}</h1>
        <h3 class="body-2">{{tribe.tribeIntro}}</h3>
        <app-join-button *ngIf="!isMember()" [tribe]="tribe"></app-join-button>
      </div>
      <div class="grid">
        <div class="column" ngClass.gt-xs="grid-33" ngClass.lt-sm="grid-100">
          <div class="tribe-intro">
            <h2>Details</h2>
            <p>{{tribe.tribePurpose}}</p>
            <p><mat-icon>person</mat-icon> {{tribe.members.length}} Members</p>
            <p><mat-icon>place</mat-icon> {{tribe.location}}</p>
            <h4>Curator(s)</h4>
            <div class="curator">
              <div class="nat-avatar" [ngStyle]="{'background-image': 'url(' + tribe.curators.image + ')'}">
              </div>
              <p>{{tribe.curators.name}}</p>
            </div>
          </div>
        </div>
        <div class="column" ngClass.gt-xs="grid-33" ngClass.lt-sm="grid-100">
          <div class="tribe-intro">
            <h2>Token Data</h2>
            <img src="{{tribe.dataImage}}">
            <div class="grid">
              <div class="data-column">
                <p class="mat-caption">Value</p>
                <p><mat-icon>trending_up</mat-icon> {{tribe.tokenValue}}<span class="ticker">NT</span></p>
              </div>
              <div class="data-column">
                <p class="mat-caption">Dev Fund</p>
                <p><mat-icon>trending_up</mat-icon> {{tribe.devFund}}<span class="ticker">NT</span></p>
              </div>
              <div class="data-column">
                <p class="mat-caption">Reserve</p>
                <p><mat-icon>trending_up</mat-icon> {{tribe.reserveFund}}<span class="ticker">NT</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="column" ngClass.gt-xs="grid-33" ngClass.lt-sm="grid-100">
          <div class="tribe-intro">
            <h2>Recent Activity</h2>
            <p><mat-icon>done_all</mat-icon> Project Completed</p>
            <p><mat-icon>done</mat-icon> Task Completed</p>
            <p><mat-icon>person</mat-icon> Member Added</p>
            <p><mat-icon>person</mat-icon> Member Added</p>
          </div>
        </div>
      </div>

      <div *ngIf="!isMember()" class="isNotMember">
        <h2>Members Only</h2>
        <p class="body-2">You need some Tribe Tokens to view Projects, Votes, and Tasks for this Tribe.</p>
        <app-join-button [tribe]="tribe"></app-join-button>
      </div>

      <div *ngIf="isMember()" class="isMember">

        <h2 class="section-title">Projects</h2>
        <app-project-list [tribe]="tribe"></app-project-list>

        <h2 class="section-title">Votes</h2>
        <app-vote-list [tribe]="tribe"></app-vote-list>

        <h2 class="section-title">Tasks</h2>
        <app-task-list [tribe]="tribe"></app-task-list>

      </div><!-- /members-only -->

    </div><!-- /contents -->
  </div><!-- /view -->

</section><!-- /page -->
