<section class="mat-typography">

  <div class="hero tribe" [ngStyle]="{'background-image': 'url(' + tribe.image + ')'}">
    <div class="grid">
      <div class="column" ngClass.gt-sm="grid-50" ngClass.sm="grid-50" ngClass.lt-sm="grid-100">
        <h1>{{tribe.name}}</h1>
        <h2>{{tribe.tribeIntro}}</h2>
        <p class="body-2">{{tribe.tribePurpose}}</p>
        <button mat-raised-button color="primary" (click)="goBack()"><mat-icon>arrow_back</mat-icon> GO BACK</button>
      </div>
      <div class="column hero-tribe-card" ngClass.gt-sm="grid-50" ngClass.sm="grid-50" ngClass.lt-sm="grid-100">
        <app-tribe-card [tribe]="tribe"></app-tribe-card>
      </div>
    </div>
  </div>

  <div class="view">
    <div class="contents">
      <div class="grid">
        <div class="column" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">
          <div class="tribe-intro">
            <h1>{{tribe.name}}</h1>
            <p class="body-2">{{tribe.tribeIntro}}</p>
            <p class="body-2">{{tribe.tribePurpose}}</p>
          </div>
        </div>
        <div class="column" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">
          <div class="tribe-intro">
            <h2>Recent History</h2>
            <p>Project Completed</p>
            <p>Task Completed</p>
            <p>Member Added</p>
            <p>Member Added</p>
          </div>
        </div>
      </div>

      <div class="isNotMember">
        <h2>Members Only</h2>
        <p class="body-2">You need some Tribe Tokens to view Projects, Votes, and Tasks for this Tribe.</p>
        <button mat-raised-button color="accent"><mat-icon>add_circle</mat-icon> Get Tribe Tokens</button>
      </div>

      <div class="isMember">

        <h2 class="section-title">Projects</h2>
        <app-project-list [tribe]="tribe"></app-project-list>

        <h2 class="section-title">Votes</h2>
        <app-vote-list [tribe]="tribe"></app-vote-list>


        <h2 class="section-title">Tasks</h2>
        <app-task-list [tribe]="tribe"></app-task-list>

      </div><!-- /members-only -->

    </div><!-- /contents -->
  </div><!-- /view -->

</section><!-- /page -->
