<section class="mat-typography">
  <img src="{{tribe.image}}" style="width: 100% !important;"/>

  <div class="view">
    <div class="contents">
      <div class="intro">
        <div class="nat-blocky">
          <img src="{{tribe.icon}}" *ngIf="tribe.icon">
          <angular-blockies *ngIf="!tribe.icon" [options]="getBlocky(tribe.address)"></angular-blockies>
        </div>
        <h1><b>{{tribe.name}}</b></h1>
        <h3 class="body-2">{{tribe.tribeIntro}}</h3>
        <div class="tags">
          <div class="tag" *ngFor="let tag of tribe.tags">{{tag}}</div>
        </div>
        <div class="intro-join" *ngIf="!isMember()">
          <p class="mat-caption">COST TO JOIN</p>
          <h3><b>{{tribe.configMembershipFee}} <span class="ticker">{{tribe.tickerSymbol}}</span></b> ({{tribe.configMembershipFee * tribe.tokenValue | number: '1.0-2'}} <span class="ticker">NT</span>)</h3>
          <app-join-button [tribe]="tribe"></app-join-button>
        </div>
      </div>
      <div class="grid">
        <div class="column" ngClass.gt-sm="grid-33" ngClass.lt-sm="grid-100">
          <div class="tribe-intro">
            <h2>Tribe Details</h2>
            <p>{{tribe.tribePurpose}}</p>
            <p><mat-icon>person</mat-icon> {{tribe.members.length}} Members</p>
            <p><mat-icon>place</mat-icon> {{tribe.location}}</p>
            <h4>Curator(s)</h4>
            <div class="curator">
              <div class="nat-avatar" [ngStyle]="{'background-image': 'url(' + tribe.curators.image + ')'}">
              </div>
              <p>{{tribe.curators.name}}</p>
            </div>
          </div>
        </div>
        <div class="column" ngClass.gt-sm="grid-33" ngClass.lt-sm="grid-100">
          <div class="tribe-intro">
            <h2>Token Data</h2>
            <img src="{{tribe.dataImage}}">
            <div class="grid">
              <div class="data-column">
                <p class="mat-caption">Value</p>
                <p><mat-icon>trending_up</mat-icon> {{tribe.tokenValue}}<span class="ticker">NT</span></p>
              </div>
              <div class="data-column">
                <p class="mat-caption">Dev Fund</p>
                <p><mat-icon>trending_up</mat-icon> {{tribe.devFund}}<span class="ticker">NT</span></p>
              </div>
              <div class="data-column">
                <p class="mat-caption">Reserve</p>
                <p><mat-icon>trending_up</mat-icon> {{tribe.reserveFund}}<span class="ticker">NT</span></p>
              </div>
              <div class="button-group grid-100" *ngIf="isMember()">
                <button mat-raised-button color="primary" (click)='openBuy()'>Convert</button>
                <button mat-raised-button (click)="openInfo('Tribe Exit', 'Stake exit details')">Exit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column" ngClass.gt-sm="grid-33" ngClass.lt-sm="grid-100">
          <div class="tribe-intro">
            <h2>Governance</h2>
            <p><a (click)="openInfo('Revenue Distribution', 'Tribe details on Revenue Distribution')"><mat-icon>link</mat-icon> Revenue Distribution</a></p>
            <p><a (click)="openInfo('Voting and Quorum', 'Tribe details on Voting and Quorum')"><mat-icon>link</mat-icon> Voting and Quorum</a></p>
            <h4>Recent Activity</h4>
            <p><mat-icon>done_all</mat-icon> Project Completed</p>
            <p><mat-icon>done</mat-icon> Task Completed</p>
            <p><mat-icon>person</mat-icon> Member Added</p>
            <p><mat-icon>person</mat-icon> Member Added</p>
          </div>
        </div>
      </div>

      <div *ngIf="!isMember()" class="isNotMember">
        <h2>Members Only</h2>
        <p class="body-2">You need some Tribe Tokens to view Projects, Votes, and Tasks for this Tribe.</p>
        <p class="mat-caption">COST TO JOIN</p>
        <h3><b>{{tribe.configMembershipFee}} <span class="ticker">{{tribe.tickerSymbol}}</span></b> ({{tribe.configMembershipFee * tribe.tokenValue | number: '1.0-2'}} <span class="ticker">NT</span>)</h3>
        <app-join-button [tribe]="tribe"></app-join-button>
      </div>

      <div *ngIf="isMember()" class="isMember">

        <h2 class="section-title"><b>Projects</b> <span class="info-link"><small>Quorum at {{tribe.configQuorum}}%</small> <a (click)="openInfo('Voting and Quorum', 'Tribe details on Voting and Quorum')"><small><mat-icon>link</mat-icon> More Info </small></a></span></h2>
        <app-project-list [tribe]="tribe"></app-project-list>

        <h2 class="section-title"><b>Votes</b></h2>
        <app-vote-list [tribe]="tribe"></app-vote-list>

        <h2 class="section-title"><b>Tasks</b></h2>
        <app-task-list [tribe]="tribe"></app-task-list>

      </div><!-- /members-only -->

    </div><!-- /contents -->
  </div><!-- /view -->

</section><!-- /page -->
