.hero .grid {
  align-items: center;
  justify-content: center;
}

.hero-tribe-card.grid-50 {
  max-width: 340px;
}

.hero-tribe-card .mat-card.tribe-card {
  background: rgba(255,255,255,0.95);
  transition: all .2s linear;
}

.hero-tribe-card .mat-card.tribe-card:hover {
  background: rgba(255,255,255,1);
}

.section-title, .tribe-intro {
  text-align: left;
}

.isNotMember {
  text-align: center;
  padding: 25px 0px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.section-title {
  margin-top: 24px;
}
