
<mat-form-field class="filter">
  <mat-select placeholder="Project State" [(value)]="filterState">
    <mat-option value="all">All</mat-option>
    <mat-option value="idea">Idea</mat-option>
    <mat-option value="supported">Supported</mat-option>
    <mat-option value="ready-to-work">Ready To Work</mat-option>
    <mat-option value="closed">Closed</mat-option>
  </mat-select>
</mat-form-field>
<div class="grid">
  <app-project-card *ngFor="let project of projects | inState:filterState" [project]="project" ngClass.gt-sm="grid-33" ngClass.sm="grid-50" ngClass.lt-sm="grid-100">
  </app-project-card>
  <div *ngIf="!(projects | inState:filterState)?.length">
      No data found...
  </div>
</div>
