
<div mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title>Join <b>{{ tribe.name }}</b></h2>

  <ol class="join-progress">
    <li [class.completed]="hasNT()">1) Get Native Token <mat-icon>done</mat-icon></li>
    <li [class.completed]="hasTT()">2) Get Tribe Tokens ({{tribe.tickerSymbol}}) <mat-icon *ngIf="hasTT()">done</mat-icon></li>
    <li>3) Stake Tribe Tokens</li>
  </ol>

  <div class="instructions" *ngIf="!hasTT()">
    <h4>You need <b>{{tribe.configMembershipFee}}</b><span class="ticker">{{tribe.tickerSymbol}}</span> to join this tribe.</h4>
    <p class="mat-body-2">Convert your NT into {{tribe.tickerSymbol}}</p>
  </div>

  <app-token-converter (onConvert)="onConvert($event[0])" [to]="tribe.tickerSymbol" [from]="'NT'" [ratio]="1000" *ngIf="!isMember()"></app-token-converter>

  <div class="instructions" *ngIf="hasTT()">
    <h4>You need to stake <b>{{tribe.configMembershipFee}}</b><span class="ticker">{{tribe.tickerSymbol}}</span> into this Tribe to become a Member.</h4>
    <p class="mat-caption">You can get more Tribe Tokens if you like later, and you can exit the tribe at any time by unstaking your TT.</p>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">NOT NOW</button>
  <button *ngIf="isMember()" mat-raised-button color="accent" [mat-dialog-close]="data" cdkFocusInitial><mat-icon>user</mat-icon> You are a member.</button>

  <button *ngIf="!isMember() && hasTT()" mat-raised-button color="accent" (click)="joinTribe()" [mat-dialog-close]="data" cdkFocusInitial><mat-icon>add_circle</mat-icon> OK STAKE</button>

</div>
