

.confetti {
  flex-wrap: wrap;
  position: relative;
}

.confetti h4 {
  margin-bottom: 0px;
}

.confetti h1 {
  color: #4ba191;
  margin-bottom: 0px;
}

.confetti > * {
  flex-basis: 100%;
}

.buy-button {
  flex-basis: 100%;
  text-align: center;
}

.mat-menu-item {
  margin: 10px 0px;
}

.mat-menu-item > .token-icon {
  float: right;
  margin-left: 15px;
  font-size: 1rem;
}
