<div class="converter grid" *ngIf="converterOpen">
  <div class="convert-from" ngClass.xs="grid-100">

    <div class="token-icon">
    <mat-form-field>
      <input type="number" matInput [(ngModel)]="fromAmount" max='10' placeholder="Pay With">
    </mat-form-field>
  </div>

  <div class="conversion" ngClass.xs="grid-100">
    <mat-icon>arrow_forward</mat-icon>
  </div>
  <div class="convert-to" ngClass.xs="grid-100">
      <a [matMenuTriggerFor]="toMenu" class="token-icon">
          {{to}}
        </a>
        <mat-menu #toMenu="matMenu">
          <a mat-menu-item *ngFor="let token of availibleTribeTokens" (click)="changeTo(token)">{{token}}</a>
        </mat-menu>
    <mat-form-field>
      <input matInput disabled [(ngModel)]="toAmount" placeholder="Receive" value="{{fromAmount * ratio}}" >
    </mat-form-field>
  </div>
  <div class="buy-button">
    <button mat-raised-button color="accent" (click)="convert()">CONVERT</button>
  </div>
</div>

<div class="converter confetti" *ngIf="!converterOpen">
  <h4>You received</h4>
  <h1><b>{{fromAmount * ratio}}</b> {{to}}<div class="confetti-div" [class.animate]="!converterOpen"></div></h1>
  <!--<button mat-raised-button (click)="close()">DONE</button>-->
  <!--<button mat-raised-button color="accent" (click)="converterToggle()">GET MORE TOKENS</button>-->
</div>
