<div class="wallet" *ngIf="!user">
  <button class="nat-profile-button" mat-button matTooltip="Connect a wallet" [matTooltipPosition]="position" (click)="connect()">
    <mat-icon>donut_large</mat-icon> CONNECT DEMO
  </button>
</div>

<div class="wallet" *ngIf="user">
  <app-token-balances [user]="user"></app-token-balances>
  <div class="balance eth">
    <p>{{getEthBalance()}}<span class="ticker">&#x39e;</span><!--eth symbol--></p>
  </div>
  <button class="nat-profile-button" mat-button matTooltip="{{user.name}}: {{user.id}}" [matTooltipPosition]="position" (click)="openVerifyDialog()">
    <angular-blockies *ngIf="user" [options]="blockiesOptions"></angular-blockies>
  </button>
</div>
