<button class="close-button" mat-icon-button (click)="onClose()"><mat-icon>close</mat-icon></button>

<div mat-dialog-content class="mat-typography">
  <h2>
    <span *ngIf="data.to === 'NT'">Get Native Token</span>
    <span *ngIf="data.to !== 'NT'">Get Tribe Token</span>
  </h2>
  <p *ngIf="data.to === 'NT'">Convert Ethereum to Native Tokens</p>
  <p *ngIf="data.to !== 'NT'">Convert Native Tokens to Tribe Tokens</p>
  <h4>1 <span *ngIf="data.to === 'NT'">&#x39e;</span>
    <span *ngIf="data.to !== 'NT'">NT</span>
     = {{ratio}}
     <span *ngIf="data.to === 'NT'">NT</span>
     <span *ngIf="data.to !== 'NT'">TT</span></h4>
  <app-token-converter [tribe]="data.tribe" [from]="data.from" [to]="data.to" (onConvert)="onConvert($event[0])" (onClose)="onClose()"></app-token-converter>
</div>
<div mat-dialog-actions>
  <button *ngIf="hasNT()" (click)="onClose()" mat-raised-button>CLOSE</button>
</div>
