<div class="view mat-typography">
  <div class="contents">
    <div class="grid">
      <div class="column" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">
        <button mat-raised-button (click)="goBack()"><mat-icon>arrow_back</mat-icon> Back to Tribe</button>
        <h1 class="section-title">{{task.title}}</h1>
        <!-- <p>{{task.type}}</p> -->
        <p class="body-2">
          {{task.description}}
        </p>
      </div>
      <div class="column" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">
        <h2 class="section-title">Task Options</h2>
        <h5 *ngIf="task.claimed === false">Unclaimed</h5>
        <p>You'll have {{task.deadline}} day to complete this task.</p>
        <h3>Reward: {{task.reward}}TT</h3>
        <button mat-raised-button color="primary">CLAIM</button>
      </div>
    </div>
  </div>
</div>
