<mat-card class="tribe-card front" [class.flipped]="this.rotateStatus === true">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="{{tribe.icon}}" *ngIf="tribe.icon">
      <angular-blockies *ngIf="!tribe.icon" [options]="getBlocky(tribe.address)"></angular-blockies>
    </div>
    <mat-card-title><a routerLink="/tribe/{{tribe.address}}">{{tribe.name}}</a></mat-card-title>
    <mat-card-subtitle>{{tribe.subtitle}}</mat-card-subtitle>
    <div class="header-data">
      <button mat-mini-fab color="primary" (click)="flipCard()"><mat-icon>swap_horiz</mat-icon></button>
    </div>
  </mat-card-header>
  <img mat-card-image src="{{tribe.image}}" alt="line-graph">
  <mat-card-content>
    <p>{{tribe.tribePurpose}}</p>
    <p><a target="_blank" href="https://www.google.com/maps/place/{{tribe.location}}"><mat-icon>place</mat-icon> {{tribe.location}}</a></p>
    <p><mat-icon>person</mat-icon> {{tribe.members.length}} Members</p>
    <p><mat-icon>trending_up</mat-icon> {{tribe.tokenValue}}<span class="ticker">NT</span></p>
  </mat-card-content>

  <mat-card-actions *ngIf="!hasNT() && !isMember()">
    <div class="rule">
      <p>{{tribe.configMembershipFee}}<span class="ticker">NT</span> to join</p>
    </div>
    <app-buy-native-button></app-buy-native-button>
  </mat-card-actions>
  <mat-card-actions *ngIf="hasNT()">
    <div class="rule" *ngIf="!isMember()">
      <p>{{tribe.configMembershipFee}}<span class="ticker">NT</span> to join</p>
    </div>
    <app-join-button *ngIf="!isMember()" [tribe]="tribe"></app-join-button>
    <button *ngIf="isMember()" mat-raised-button color="accent" (click)="openBuy(tribe.tickerSymbol)">BUY</button>

    <button mat-raised-button color="primary" routerLink="/tribe/{{tribe.address}}">VIEW</button>
  </mat-card-actions>
</mat-card>

<mat-card class="tribe-card back" [class.flipped]="this.rotateStatus === true">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="{{tribe.icon}}" *ngIf="tribe.icon != ''">
      <angular-blockies *ngIf="tribe.icon == ''"> [options]="getBlocky(tribe.address)"></angular-blockies>
    </div>
    <mat-card-title><a routerLink="/tribe/{{tribe.address}}">{{tribe.name}}</a></mat-card-title>
    <mat-card-subtitle>{{tribe.subtitle}}</mat-card-subtitle>
    <div class="header-data">
      <button mat-mini-fab color="primary" (click)="flipCard()"><mat-icon>swap_horiz</mat-icon></button>
    </div>
  </mat-card-header>
  <img mat-card-image src="{{tribe.dataImage}}" alt="line-graph">
  <mat-card-content>
    <p class="mat-caption">Token Value</p>
    <p>{{tribe.tokenValue}}<span class="ticker">NT</span> <mat-icon color="primary">trending_up</mat-icon></p>
    <p class="mat-caption">Dev Fund</p>
    <p>{{tribe.devFund}}<span class="ticker">NT</span></p>
    <p class="mat-caption">Reserve</p>
    <p>{{tribe.reserveFund}}<span class="ticker">NT</span></p>
  </mat-card-content>

  <mat-card-actions *ngIf="!hasNT() && !isMember()">
    <div class="rule">
      <p>{{tribe.configMembershipFee}}<span class="ticker">NT</span> to join</p>
    </div>
    <app-buy-native-button></app-buy-native-button>
  </mat-card-actions>
  <mat-card-actions *ngIf="hasNT()">
    <div class="rule" *ngIf="!isMember()">
      <p>{{tribe.configMembershipFee}}<span class="ticker">NT</span> to join</p>
    </div>
    <app-join-button *ngIf="!isMember()" [tribe]="tribe"></app-join-button>
    <button *ngIf="isMember()" mat-raised-button color="accent" (click)="openBuy(tribe.tickerSymbol)">BUY</button>

    <button mat-raised-button color="primary" routerLink="/tribe/{{tribe.address}}">VIEW</button>
  </mat-card-actions>
</mat-card>
