<mat-card class="tribe-card front" [class.flipped]="this.rotateStatus === true">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="{{tribe.icon}}" *ngIf="tribe.icon">
      <angular-blockies *ngIf="!tribe.icon" [options]="getBlocky(tribe.address)"></angular-blockies>
    </div>
    <mat-card-title><a routerLink="/tribe/{{tribe.address}}">{{tribe.name}}</a></mat-card-title>
    <mat-card-subtitle>{{tribe.subtitle}}</mat-card-subtitle>
    <div class="header-data">
      <button mat-mini-fab color="primary" (click)="flipCard()"><mat-icon>swap_horiz</mat-icon></button>
    </div>
  </mat-card-header>
  <img mat-card-image src="{{tribe.image}}" alt="line-graph">
  <mat-card-content>
    <p class="tribeIntro">{{tribe.tribeIntro}}</p>
    <div class="tags">
      <div class="tag" *ngFor="let tag of tribe.tags| slice:0:3">{{tag}}</div>
    </div>
    <p><a target="_blank" href="https://www.google.com/maps/place/{{tribe.location}}"><mat-icon>place</mat-icon> {{tribe.location}}</a></p>
    <p><mat-icon>person</mat-icon> {{tribe.members.length}} Members</p>
    <p><mat-icon>lens</mat-icon> {{tribe.tickerSymbol}}: {{tribe.tokenValue}}<span class="ticker">NT</span> ({{tribe.tokenValue * 7.1 | currency:0}})</p>
  </mat-card-content>

  <mat-card-actions>
    <div class="rule" *ngIf="!isMember()">
      <p class="mat-caption">COST TO JOIN</p>
      <h3><b>{{tribe.configMembershipFee}} <span class="ticker">{{tribe.tickerSymbol}}</span></b> ({{tribe.configMembershipFee * tribe.tokenValue | number: '1.0-2'}} <span class="ticker">NT</span>)</h3>
    </div>
    <app-join-button *ngIf="!isMember()" [tribe]="tribe"></app-join-button>
    <button *ngIf="isMember()" mat-raised-button color="accent" (click)="openBuy()">BUY</button>

    <button *ngIf="hasNT()" mat-raised-button color="primary" routerLink="/tribe/{{tribe.address}}">VIEW</button>
  </mat-card-actions>
</mat-card>

<mat-card class="tribe-card back" [class.flipped]="this.rotateStatus === true">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="{{tribe.icon}}" *ngIf="tribe.icon != ''">
      <angular-blockies *ngIf="tribe.icon == ''"> [options]="getBlocky(tribe.address)"></angular-blockies>
    </div>
    <mat-card-title><a routerLink="/tribe/{{tribe.address}}">{{tribe.name}}</a></mat-card-title>
    <mat-card-subtitle>{{tribe.subtitle}}</mat-card-subtitle>
    <div class="header-data">
      <button mat-mini-fab color="primary" (click)="flipCard()"><mat-icon>swap_horiz</mat-icon></button>
    </div>
  </mat-card-header>
  <div class="data-image">
    <div class="tickerSymbol">{{tribe.tickerSymbol}} <span class="dataChange">7D graph</span></div>
    <img mat-card-image src="{{tribe.dataImage}}" alt="line-graph">
  </div>
  <mat-card-content>
    <div class="grid">
      <div class="column">
        <p class="mat-caption">Token Value</p>
        <p>{{tribe.tokenValue}}<span class="ticker">NT</span> ({{tribe.tokenValue * 7.1 | currency:0}})</p>
        <p class="mat-caption">Dev Fund</p>
        <p>{{tribe.devFund}}<span class="ticker">NT</span></p>
        <p class="mat-caption">Reserve</p>
        <p>{{tribe.reserveFund}}<span class="ticker">NT</span></p>
      </div>
      <span class="fill-space"></span>
      <div class="column">
        <p class="mat-caption">24hr Change</p>
        <p>{{tribe.valueChange}}% <mat-icon color="primary">trending_up</mat-icon></p>
        <p class="mat-caption">Market Cap</p>
        <p>{{tribe.tokenValue * 2410634.45 | currency}} </p>
        <p class="mat-caption">Reserve Ratio</p>
        <p>10%</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="rule" *ngIf="!isMember()">
      <p class="mat-caption">COST TO JOIN</p>
      <h3><b>{{tribe.configMembershipFee}} <span class="ticker">{{tribe.tickerSymbol}}</span></b> ({{tribe.configMembershipFee * tribe.tokenValue | number: '1.0-2'}} <span class="ticker">NT</span>)</h3>
    </div>
    <app-join-button *ngIf="!isMember()" [tribe]="tribe"></app-join-button>
    <button *ngIf="isMember()" mat-raised-button color="accent" (click)="openBuy(tribe.tickerSymbol)">BUY</button>

    <button *ngIf="hasNT()" mat-raised-button color="primary" routerLink="/tribe/{{tribe.address}}">VIEW</button>
  </mat-card-actions>
</mat-card>
