.view {
  min-height: calc(100vh - 110px);
  background-color: #f5f6f8;
  >.contents {
    padding: 0 25px;
    max-width: 1350px;
    margin: 0 auto;
  }
}

.notAuthed {
  text-align: center;
  padding-bottom: 50px;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  padding: 0px 25px;
}

.section-title {
  flex-basis: 50%;
  margin-top: 25px;
  font-size: 2.5em;
}

.actions {
  max-width: 50%;
}


h1 {margin-bottom: 0; margin-top: -40px;}
p { margin-top: 0; }
