<div class="view mat-typography">
  <div class="contents">
    <div *ngIf="!isAuthenticated()" class="notAuthed">
      <img src="assets/ill-welcome.png">
      <h1 class="mat-headline">Welcome to Native</h1>
      <p class="mat-body-2">Get started by connecting to a web3 wallet.</p>
      <button mat-raised-button color="accent" (click)="openDialog()">
        <mat-icon>donut_large</mat-icon> CONNECT
      </button>
    </div>
    <div *ngIf="isAuthenticated()" class="notAuthed">
      <img src="assets/ill-welcome.png">
      <h1 class="mat-headline">Welcome to Native</h1>
      <p class="mat-body-2">Join Tribes with Native Tokens.</p>
      <button mat-raised-button color="accent" (click)="openConverter()">
        <i class="nat-icon native-token"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
          <title>native_token</title>
          <path d="M36.9,1.43a1.27,1.27,0,0,0-1.8,0L1.43,35.1a1.27,1.27,0,0,0,0,1.8L35.1,70.57a1.27,1.27,0,0,0,1.8,0L70.57,36.9a1.27,1.27,0,0,0,0-1.8Zm-1.8,3a1.29,1.29,0,0,1,1.8,0L67.54,35.1a1.29,1.29,0,0,1,0,1.8l-2.29,2.29a1.29,1.29,0,0,1-1.8,0L42,17.74a1.27,1.27,0,0,0-1.8,0L29.32,28.62a1.29,1.29,0,0,1-1.8,0l-3.36-3.36a1.29,1.29,0,0,0-1.8,0L8.49,39.13a1.27,1.27,0,0,1-1.8,0L4.46,36.9a1.29,1.29,0,0,1,0-1.8Zm5.57,36c0,.7-.41.86-.9.37l-8.94-8.93a1.29,1.29,0,0,1,0-1.8l8.94-8.93c.49-.5.9-.33.9.37ZM22.8,54c0,.7-.4.86-.9.37L10,42.45a1.29,1.29,0,0,1,0-1.8L21.9,28.76c.5-.5.9-.33.9.37Z"/>
        </svg></i> GET NATIVE TOKENS
      </button>
    </div>
    <div *ngIf="isAuthenticated()" class="isAuthed">
      <div class="section-header">
        <h2 class="section-title">Tribes</h2>
        <span class="fill-space"></span>
        <div class="actions">
          <mat-icon>search</mat-icon>
          <mat-form-field>
            <input matInput [(ngModel)]="search" placeholder="Search">
          </mat-form-field>

        </div>
      </div>
      <app-tribe-list></app-tribe-list>
    </div>
  </div>
</div>
