<div class="view mat-typography">
  <div class="contents">
    <div *ngIf="!isAuthenticated()" class="notAuthed">
      <img src="assets/ill-welcome.png">
      <h1 class="mat-headline">Welcome to Native</h1>
      <p class="mat-body-2">Get started by connecting to a web3 wallet.</p>
      <button mat-raised-button color="accent" (click)="openDialog()">
        <mat-icon>donut_large</mat-icon> CONNECT
      </button>
    </div>
    <div *ngIf="isAuthenticated()" class="notAuthed">
      <img src="assets/ill-welcome.png">
      <h1 class="mat-headline">Welcome to Native</h1>
      <p class="mat-body-2">Join Tribes with Native Tokens.</p>
      <button mat-raised-button color="accent" (click)="openConverter()">
        <i class="nat-icon native-token"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
          <title>native_token</title>
          <path d="M38.83,25,32,31.78a1,1,0,0,0,0,1.37L38.83,40c.38.37.69.25.69-.29V25.25C39.52,24.72,39.21,24.59,38.83,25Z"/>
          <path d="M36.65,12.2a1,1,0,0,0-1.37,0L11.92,35.56a1,1,0,0,0,0,1.37l1.7,1.7a1,1,0,0,0,1.37,0L25.57,28.06a1,1,0,0,1,1.37,0l2.56,2.56a1,1,0,0,0,1.37,0l8.29-8.3a1,1,0,0,1,1.38,0L56.89,38.68a1,1,0,0,0,1.37,0L60,36.93a1,1,0,0,0,0-1.37Z"/>
          <path d="M25.21,30.72l-9.06,9.07a1,1,0,0,0,0,1.37l9.06,9.07c.38.37.69.25.69-.29V31C25.9,30.48,25.59,30.35,25.21,30.72Z"/>
          <path d="M36,3.93A32.31,32.31,0,1,0,68.35,36.24,32.31,32.31,0,0,0,36,3.93Zm.61,58.68a1,1,0,0,1-1.37,0L9.6,36.93a1,1,0,0,1,0-1.37L35.28,9.88a1,1,0,0,1,1.37,0L62.32,35.56a1,1,0,0,1,0,1.37Z"/>
        </svg></i> GET NATIVE TOKENS
      </button>
    </div>
    <div *ngIf="isAuthenticated()" class="isAuthed">
      <div class="section-header">
        <h2 class="section-title">Tribes</h2>
        <span class="fill-space"></span>
        <div class="actions">
          <mat-icon>search</mat-icon>
          <mat-form-field>
            <input matInput [(ngModel)]="search" placeholder="Search">
          </mat-form-field>

        </div>
      </div>
      <app-tribe-list></app-tribe-list>
    </div>
  </div>
</div>
