<mat-card class="vote-card">
  <mat-card-header>
    <mat-card-title><b>{{vote.title}}</b></mat-card-title>
    <mat-card-subtitle>{{vote.type}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="vote.image" mat-card-image src="{{vote.image}}" alt="vote-image">
  <mat-card-content>
    <p>
      {{vote.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="rule">
      <div class="base-grid">
        <div class="column">
          <app-countdown-timer [endsAt]="vote.deadline"></app-countdown-timer>
        </div>
      </div>
    </div>
    <button routerLink="/tribe/{{vote.tribe.address}}/vote/{{vote.slug}}" mat-raised-button color="primary">VIEW</button>
  </mat-card-actions>
</mat-card>
