<section class="mat-typography">

  <div class="hero project" [ngStyle]="{'background-image': 'url(' + project.image + ')'}">
    <div class="grid">
      <div class="column" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">

      </div>
      <div class="column" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">

      </div>
    </div>
  </div>

  <div class="view">
    <div class="contents">
      <button mat-raised-button (click)="goBack()"><mat-icon>arrow_back</mat-icon> Back to Tribe</button>
      <h1>{{project.title}}</h1>
      <p class="body-2">{{project.type}}</p>
      <div class="grid">
        <div class="column project-intro" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">
          <h2>Purpose</h2>
          <h3>{{project.description}}</h3>
        </div>
        <div class="column action-column" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">

          <h4 class="mat-caption">Support Goal</h4> <h2><b>{{(project.tribe | quorum)}}</b> of <b>{{project.tribe.members.length}}</b> Total Members</h2>
          <p class="mat-caption">Tribe Quorum: {{project.tribe.configQuorum }}% Membership Participation </p>
          <mat-progress-bar
              [color]="'accent'"
              [mode]="'determinate'"
              [value]="(project.supported.length / (project.tribe | quorum)) * 100"
              >
          </mat-progress-bar>
          <div class="confetti-div" [class.animate]="!((project.tribe | quorum) - project.supported.length)"></div>
          <h4>Currently <b>{{project.supported.length}}</b> of <b>{{project.tribe.members.length}}</b>
          <span *ngIf="(project.tribe | quorum) - project.supported.length" > <small>({{(project.tribe | quorum) - project.supported.length}} more needed)</small></span>
          </h4>
          <h1 *ngIf="!((project.tribe | quorum) - project.supported.length)">Project Supported <mat-icon>check</mat-icon></h1>
          <div *ngIf="(project.tribe | quorum) - project.supported.length" class="actions">
            <button mat-raised-button color="accent" (click)="vote()">SUPPORT</button>
          </div>
        </div>
      </div>
    </div><!-- /contents -->
  </div><!-- /view -->

</section><!-- /page -->
