<img src="{{vote.image}}" style="width:100% !important;"/>
<div class="view mat-typography">
  <div class="contents">
    <div class="grid">
      <div class="column" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">
        <button mat-raised-button (click)="goBack()"><mat-icon>arrow_back</mat-icon> Back to Tribe</button>
        <h1 class="section-title">{{vote.title}}</h1>        
        <p>{{vote.type}}</p>
        <p class="body-2">
          {{vote.description}}
        </p>
      </div>
      <div class="column votes" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100" *ngIf="!hasVoted()">
        <h2 class="section-title">Vote Options</h2>
        <div class="timer">
          <p class="mat-caption">TIME LEFT</p>
          <h3><mat-icon>timer</mat-icon> 3:10:54:43</h3>
        </div>
        <div class="option" *ngFor="let option of vote.options">
          <div class="label fill-space">
            <p>{{option}}</p>
          </div>
          <!--<span class="fill-space"></span>-->
          <button mat-raised-button color="primary" (click)="castVote(option)">VOTE</button>
        </div>
      </div>
      <div class="column votes" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100" *ngIf="hasVoted()">
        <h2 class="section-title">Vote Results</h2>
        <div class="option" *ngFor="let result of resultCounts">
          <div class="label fill-space">
            <p>
              <span *ngIf="!hasVotedOn(result.option)">{{result.option}}</span>
              <span *ngIf="hasVotedOn(result.option)"><b>{{result.option}}</b> Your vote</span>
              </p>
          </div>
          <!--<span class="fill-space"></span>-->
          <button mat-raised-button color="primary" (click)="castVote(result.option)"> {{result.count}} ({{(result.count / results.length) | percent}})</button>
          <div class="vote-progress">
            <mat-progress-bar
                [color]="'accent'"
                [mode]="'determinate'"
                [value]="(result.count / results.length) * 100"
                >
            </mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
    <div>
        <p>has voted: {{hasVoted()}}</p>
        <p>related project: {{vote.relatedProject}}</p>
        <p>related task: {{vote.relatedTask}}</p>
    </div>
  </div>
</div>
