<img src="{{vote.image}}" style="width:100% !important;"/>
<div class="view mat-typography">
  <div class="contents">
    <div class="grid">
      <div class="column" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">
        <button mat-raised-button (click)="goBack()"><mat-icon>arrow_back</mat-icon> Back to Tribe</button>
        <h1 class="section-title">{{vote.title}}</h1>
        <p>{{vote.type}}</p>
        <p class="body-2">
          {{vote.description}}
        </p>
      </div>
      <div class="column votes" ngClass.gt-xs="grid-50" ngClass.lt-sm="grid-100">
        <h2 class="section-title">Vote Options</h2>
        <div class="option" *ngFor="let option of vote.options">
          <p>{{option}}</p>
          <span class="fill-space"></span>
          <button mat-raised-button color="primary" (click)="castVote(option)">VOTE</button>
        </div>
      </div>
    </div>
    <div>
        <p>has voted: {{hasVoted()}}</p>
        <p>related project: {{vote.relatedProject}}</p>
        <p>related task: {{vote.relatedTask}}</p>
    </div>
    <div>
      results {{results.length}}
      <div class="result" *ngFor="let result of getResults()">
          <p>{{result.option}} {{result.count}} <span *ngIf="hasVotedOn(result.option)">you voted on this.</span></p>
          <mat-progress-bar
              [color]="'accent'"
              [mode]="'determinate'"
              [value]="(result.count / (results.length)) * 100"
              >
          </mat-progress-bar>
        </div>
    </div>
  </div>
</div>
