/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

 @import './themes/unicorn-app.scss';

 /* preiview overlay backdrop */
 .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
  }
}

 /* Base Styles */

 body {
   margin: 0;
   padding: 0;
 }

 /* Typography */

 * {
   box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  img:not(.mat-card-image) { max-width: 100%; }

 h1, h2, h3, h4, h5, h6 {
   color: #0c2e29;
 }

 p { color: #70d0be; }

 /* Buttons & Links */

 a {
   color: #4ba191;
   text-decoration: none;
   transition: all .2s linear;
 }

 a:hover {
   color: #3b8f7e;
 }

 button {
   letter-spacing: .1em;
 }

 button .mat-icon {
   margin-top: -2px;
 }

 button[mat-button] { border-radius: 50px; }

 button[mat-raised-button] {
   border-radius: 50px;
 }

button[mat-raised-button]:not([class*=mat-elevation-z]) {
   box-shadow: none;
 }

 button.connect {
   width: 100%;
   padding: 15px;
   margin: 15px auto;
   color: #fff;
   &:nth-of-type(1) {
     background-color: blue;
   }
   &:nth-of-type(2) {
     background-color: teal;
   }
   &:nth-of-type(3) {
     background-color: salmon;
   }
 }

 // Toolbar

 .mat-toolbar-single-row {
   flex-wrap: wrap;
 }

 // Icons

 mat-icon {
   vertical-align: middle;
 }

 // Cards

  .tribe-card, .mat-card.project-card, .mat-card.vote-card, .mat-card.task-card {
    padding: 25px;
  }

  .mat-card:not(.project-card) .mat-card-content {
    padding-bottom: 40px;
  }

  .mat-card.project-card .mat-card-content {
    padding-bottom: 100px;
  }

 .mat-card.tribe-card {
   border-radius: 25px;
 }

 .mat-card.project-card, .mat-card.vote-card, .mat-card.task-card {
   border-radius: 10px;
 }

 .mat-card .mat-card-actions {
   position: absolute;
   bottom: 24px;
   left: 0px !important;
   width: 100%;
   text-align: center;
   margin: 0 !important;
   >.mat-progress-bar { margin: 20px auto;}
 }

 .mat-card {
   .mat-card-header {
   }
   .mat-card-title {
     margin-bottom: 5px;
   }
   .mat-card-header-text {
     margin: 0;
   }
 }

 .mat-card .header-data {
  position: absolute;
  right: 15px;
  text-align: right;
 }


 // Flip Cards

 app-tribe-card .tribe-card.back {
   position: absolute;
   top: 0;
   left: 0;
 }

 app-tribe-card {
  position: relative;
  display: block;
  perspective: 900px;
  perspective-origin: right;
  transition: all .3s linear;
 }

 app-tribe-card .tribe-card.front:not(.flipped) {
   transition: all .3s linear;
   transform: rotateY(0deg);
   opacity: 1;
 }

 app-tribe-card .tribe-card.back:not(.flipped) {
   transition: all .3s linear;
   transform: rotateY(-180deg);
   opacity: 0;
   backface-visibility: hidden;
 }

 app-tribe-card .tribe-card.front.flipped {
   transition: all .3s linear;
   transform: rotateY(180deg);
   opacity: 0;
   backface-visibility: hidden;
 }

 app-tribe-card .tribe-card.back.flipped {
   transition: all .3s linear;
   transform: rotateY(0deg);
   opacity: 1;
 }




 // Views

 .view {
   min-height: calc(100vh - 160px);
   background-color: #f5f6f8;
   >.contents {
     max-width: 1350px;
     margin: 0 auto;
     padding: 25px;
   }
   &.detail {

   }
   &.tribe {

   }
 }
 .hero {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   width: calc(100%);
   height: auto;
   min-height: 35vh;
   padding: 25px;
   h1, h2, h3, h4, h5, h6 {
     color: #fff;
   }
 }

 // Grid Utils

 .grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    max-width: 1400px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    >.column {
      flex-direction: column;
    }
  }

 .grid-33 {
   width: calc(33% - 31px);
   margin: 25px;
   &:nth-of-type(3n+1) {
     margin-left: 0px;
   }
   &:nth-of-type(3n) {
     margin-right: 0px;
   }
 }

 .grid-50 {
   width: calc(50% - 25px);
   margin: 25px;
   &:nth-of-type(2n+1) {
     margin-left: 0px;
   }
   &:nth-of-type(2n) {
     margin-right: 0px;
   }
 }

  .grid-100 {
     width: calc(100%);
     margin: 25px;
     margin-left: 0px !important;
     margin-right: 0px !important;
  }

 // CSS Grid Layout // Deprecated

.css-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.css-grid-33 {
  grid-column: 1fr;
}

.css-grid-50 {
  grid-column: 1.5fr;
}

.css-grid-100 {
  grid-column: 1 / span 3;
}

  .fill-space {
    flex: 1 1 auto;
  }

  .text-center {
    text-align: center !important;
  }

   // mat-dialog

   .cdk-overlay-container .mat-dialog-container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: #f5f6f8;
   }

   .cdk-overlay-container .mat-dialog-container .mat-dialog-content {
     display: block;
     max-width: 600px;
   }

   .mat-dialog-container .close-button {
     position: absolute;
     top: 25px;
     right: 25px;
   }

   .mat-dialog-container .mat-dialog-actions {
    align-items: center;
    justify-content: center;
   }

   // TickerSymbol styles

   span.ticker {
     font-size: .75em;
     position: absolute;
   }

   // connector

   .connector {
     min-width: 190px;
     min-height: 190px;
     padding: 25px;
     border: 2px solid #4ba191;
     display: flex;
     align-items: center;
     justify-content: center;
   }

   // Converter

   .cdk-overlay-container .mat-dialog-container .mat-dialog-content {
     > h2 {
       text-align: center;
     }
     > h4 {
       text-align: center;
     }
     > p {
       text-align: center;
     }
   }

   .converter {
     display: flex;
     margin: 50px auto;
     align-items: center;
     justify-content: center;
     >.convert-from {
       text-align: right;
     }
     >.conversion {
       text-align: center;
       margin: 0px 25px;
     }
     >.convert-to {
       text-align: left;
     }
   }

   // Nat Icons

   i.nat-icon {
     width: 24px;
     height: 24px;
     position: relative;
     display: inline-block;
     margin-top: -2px;
   }

   i.nat-icon svg {
     width: 24px;
     height: 24px;
     fill: #fff;
   }


   // Overlay

 .overlay {
   width: 100vw;
   height: 90vh;
   >.contents {
     text-align: center;
     padding: 24px;
     max-width: 800px;
     margin: 0 auto;
     >h1 {
       padding: 0;
     }
   }
 }

 @media all and (max-width: 600px) {
   .conversion .mat-icon {
     transform: rotate(90deg);
   }
 }
