/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

 @import './themes/unicorn-app.scss';

 /* preiview overlay backdrop */
 .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
  }
}

 /* Base Styles */

 body {
   margin: 0;
   padding: 0;
 }

 /* Typography */

 * {
   box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  img:not(.mat-card-image) { max-width: 100%; }

 h1, h2, h3, h4, h5, h6 {
   color: #0c2e29;
 }

 p { color: #70d0be; }

 /* Buttons & Links */

 a {
   color: #4ba191;
   text-decoration: none;
   transition: all .2s linear;
 }

 a:hover {
   color: #3b8f7e;
 }

 button {
   letter-spacing: .1em;
 }

 button .mat-icon {
   margin-top: -2px;
 }

 button[mat-button] { border-radius: 50px; }

 button[mat-raised-button] {
   border-radius: 50px;
 }

button[mat-raised-button]:not([class*=mat-elevation-z]) {
   box-shadow: none;
 }

 button.connect {
   width: 100%;
   padding: 15px;
   margin: 15px auto;
   color: #fff;
   &:nth-of-type(1) {
     background-color: blue;
   }
   &:nth-of-type(2) {
     background-color: teal;
   }
   &:nth-of-type(3) {
     background-color: salmon;
   }
 }

 // Toolbar

 .mat-toolbar-single-row {
   flex-wrap: wrap;
 }

 // Icons

 mat-icon {
   vertical-align: middle;
 }

 // Cards

  .tribe-card, .mat-card.project-card, .mat-card.vote-card, .mat-card.task-card {
    padding: 25px;
  }

  .mat-card:not(.project-card) .mat-card-content {
    padding-bottom: 100px;
  }

  .mat-card.project-card .mat-card-content {
    padding-bottom: 100px;
  }

 .mat-card.tribe-card  {
   border-radius: 10px;
 }

 .mat-card.project-card, .mat-card.vote-card, .mat-card.task-card {
   border-radius: 10px;
 }

 .mat-card .mat-card-actions {
   position: absolute;
   bottom: 24px;
   left: 0px !important;
   width: 100%;
   text-align: center;
   margin: 0 !important;
   >.rule { padding-top: 15px; border-top: 1px solid #70d0be;}
   >.mat-progress-bar { margin: 20px auto;}
 }

 .mat-card {
   .mat-card-header {
   }
   .mat-card-title {
     margin-bottom: 5px;
   }
   .mat-card-header-text {
     margin: 0;
   }
 }

 .mat-card .header-data {
  position: absolute;
  right: 15px;
  text-align: right;
 }


 // Flip Cards

 app-tribe-card .tribe-card.back {
   position: absolute;
   top: 0;
   left: 0;
 }

 app-tribe-card {
  position: relative;
  display: block;
  perspective: 900px;
  perspective-origin: right;
  transition: all .3s linear;
 }

 app-tribe-card .tribe-card.front:not(.flipped) {
   transition: all .3s linear;
   transform: rotateY(0deg);
   opacity: 1;
 }

 app-tribe-card .tribe-card.back:not(.flipped) {
   transition: all .3s linear;
   transform: rotateY(-180deg);
   opacity: 0;
   backface-visibility: hidden;
 }

 app-tribe-card .tribe-card.front.flipped {
   transition: all .3s linear;
   transform: rotateY(180deg);
   opacity: 0;
   backface-visibility: hidden;
 }

 app-tribe-card .tribe-card.back.flipped {
   transition: all .3s linear;
   transform: rotateY(0deg);
   opacity: 1;
 }

// List Utils

.mat-form-field.filter {
  position: absolute;
  top: -50px;
  right: 0;
  display: block;
}

app-project-list,
app-vote-list,
app-task-list {
  display: block;
  position: relative;

}

 // Views

 .view {
   min-height: calc(100vh - 160px);
   background-color: #f5f6f8;
   >.contents {
     max-width: 1350px;
     margin: 0 auto;
     padding: 25px;
   }
   &.detail {

   }
   &.tribe {

   }
 }
 .hero {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   width: calc(100%);
   height: auto;
   min-height: 35vh;
   padding: 25px;
   h1, h2, h3, h4, h5, h6 {
     color: #fff;
   }
 }

 // General Utils

 .curator p {
   display: inline-block;
   line-height: 60px;
   vertical-align: middle;

 }

 .nat-avatar {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   width: 60px;
   height: 60px;
   float: left;
   margin-right: 15px;
   border-radius: 50%;
 }

 // Grid Utils

 .grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    max-width: 1400px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    >.column {
      flex-direction: column;
    }
  }

 .grid-33 {
   width: calc(33% - 31px);
   margin: 25px;
   &:nth-of-type(3n+1) {
     margin-left: 0px;
   }
   &:nth-of-type(3n) {
     margin-right: 0px;
   }
 }

 .grid-50 {
   width: calc(50% - 25px);
   margin: 25px;
   &:nth-of-type(2n+1) {
     margin-left: 0px;
   }
   &:nth-of-type(2n) {
     margin-right: 0px;
   }
 }

  .grid-100 {
     width: calc(100%);
     margin: 25px;
     margin-left: 0px !important;
     margin-right: 0px !important;
  }


  .fill-space {
    flex: 1 1 auto;
  }

  .text-center {
    text-align: center !important;
  }

   // mat-dialog

   .cdk-overlay-container .mat-dialog-container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: #f5f6f8;
   }

   .cdk-overlay-container .mat-dialog-container .mat-dialog-content {
     display: block;
     max-width: 660px;
   }

   .mat-dialog-container .close-button {
     position: absolute;
     top: 25px;
     right: 25px;
   }

   .mat-dialog-container .mat-dialog-actions {
    align-items: center;
    justify-content: center;
   }

   // TickerSymbol styles

   span.ticker {
     font-size: .75em;
     position: relative;
   }

   // connector

   .connector {
     min-width: 190px;
     min-height: 190px;
     padding: 25px;
     border: 2px solid #4ba191;
     display: flex;
     align-items: center;
     justify-content: center;
   }

   // Converter

   .cdk-overlay-container .mat-dialog-container .mat-dialog-content {
     > h1, h2, h3, h4, h5, h6, p {
       text-align: center;
     }
   }

   .instructions {
     margin: 0 auto;
     max-width: 420px;
   }

   .converter {
     display: flex;
     margin: 10px auto;
     padding: 25px;
     align-items: center;
     justify-content: center;
     >.convert-from {
       text-align: right;
     }
     >.conversion {
       text-align: center;
       margin: 0px 25px;
     }
     >.convert-to {
       text-align: left;
     }
     &.confetti {
       text-align: center;
       border-top: 1px solid #70d0be;
       border-bottom: 1px solid #70d0be;
     }
   }

   // Nat Icons

   i.nat-icon {
     width: 24px;
     height: 24px;
     position: relative;
     display: inline-block;
     margin-top: -2px;
   }

   i.nat-icon svg {
     width: 24px;
     height: 24px;
     fill: #fff;
   }


   // Overlay

 .overlay {
   width: 100vw;
   height: 90vh;
   >.contents {
     text-align: center;
     padding: 24px;
     max-width: 800px;
     margin: 0 auto;
     >h1 {
       padding: 0;
     }
   }
 }

 // Confetti

 .confetti-div {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 0;
   top: -75%;
   left: 0;
   pointer-events: none;
   overflow: visible;
 }

 .confetti-div:before {
     display: none;
     top: -25%;
     background-image: radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FBC24D 20%, transparent 30%), radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FBC24D 15%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%);
     background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
 }

 .confetti-div:after {
     display: none;
     bottom: -25%;
     background-image: radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FBC24D 15%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%), radial-gradient(circle, #FBC24D 20%, transparent 20%);
     background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
 }

 .confetti-div:before,
 .confetti-div:after {
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   z-index: -1000;
   transition: all ease-in-out 0.5s;
   background-repeat: no-repeat;
   overflow: visible;
 }

 .confetti-div.animate:before {
   display: block;
   animation: topBubbles ease-in-out 0.75s forwards;
 }

 .confetti-div.animate:after {
   display: block;
   animation: bottomBubbles ease-in-out 0.75s forwards;
 }

 @keyframes
 topBubbles {  0% {
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
 }
  50% {
  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
 }
  100% {
  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
 }

 @keyframes
 bottomBubbles {  0% {
  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
 }
  50% {
  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
 }
  100% {
  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
 }


 @media all and (max-width: 600px) {
   .conversion .mat-icon {
     transform: rotate(90deg);
   }
 }
